<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title>Cowsay Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav ng-controller="NavController as navCtrl">
      <ul>
        </i><li ng-repeat="navItem in navCtrl.routes">
          <a ng-href="{{navItem.url}}">{{navItem.name}}</a>
        </li>

      </ul>
    </nav>

    <section ng-controller="CowsayController as cowsayCtrl"
    ng-init="cowsayCtrl.currentCow='default'">
    <h1 ng-class="{'bold-font': !cowsayCtrl.text}">{{cowsayCtrl.title}}</h1>
    <form ng-submit="cowsayCtrl.speak(cowsayCtrl.text)"
    novalidate
    name="cowsayForm"
    ng-class="{'red-font': cowsayForm.$invalid}">

      <i class="fa fa-hand-o-right" aria-hidden="true">
      <input type="text" class="form-control" placeholder="Enter Text Here" ng-model="cowsayCtrl.text" required ng-minlength="4" ng-class="{'red-font': !cowsayCtrl.text}">

      <select ng-model="cowsayCtrl.currentCow">
        <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{cowfile}}">
          {{cowfile}}
        </option>
      </select>

      <button type="button" class="btn btn-info" ng-click="cowsayCtrl.undo()">Undo</button>
      <button type="submit" class="btn btn-info">Speak</button>
    </form>

    <pre>
        {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
    </pre>

    <h3 ng-if="!cowsayCtrl.spoken" red-font="{'italic-font': !cowsayCtrl.text}">THIS WILL BE REMOVED FROM DOM WHEN SPEAK IS CLICKED</h3>
    <pre ng-show="cowsayCtrl.spoken" >
      {{cowsayCtrl.spoken}}
    </pre>

    <p ng-hide="cowsayCtrl.spoken">Waiting for you to speak</p>

  </body>
</html>
