@import "_vendor";
@import "_theme";


$app-font-color: #F0FFF0;
$app-font: "Trebuchet MS", Helvetica, sans-serif;

body {
  background-color: $brand-primary;
  font: $app-font;
  color: $app-font-color;
}

input {
  color: $brand-black;
}

select {
  color: $brand-black;
}

pre {
  background-color: $brand-primary;
}

.red-font {
  color: $brand-error;
}

.italic-font {
  font-style: italic;
}

.bold-font {
  font-weight: bold;
  color: $brand-black;
}
